#compiter{text-align: center;  margin: auto; color: #A52A2A; background: #FFE4C4; border: 4px solid #00ff00; }
#tidi{ border: 5px solid white; }
#h1
{
text-align: center;
text-shadow: #FF00FF; 0 0 2px;
color: #A52A2A;
}